<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceDemo" />
                <binding name="BasicHttpBinding_IServiceDemo1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53601/ServiceDemo.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceDemo" contract="ServiceDemoReference.IServiceDemo"
                name="BasicHttpBinding_IServiceDemo" />
            <endpoint address="http://localhost:53601/ServiceDemo.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceDemo1" contract="BookServiceReference3.IServiceDemo"
                name="BasicHttpBinding_IServiceDemo1" />
        </client>
    </system.serviceModel>
</configuration>